
<?xml version="1.0" encoding="UTF-8"?>
%rss{ version: "2.0" }
  %channel
    %title
      = h app(:site)
    %description
      = h app(:tagline)
    %link 
      = h app(:url) 

    - post_titles_and_info.each do |p|
      - p[1].each do |post|
        %item
          %title
            = h post[:title]
          %link
            = h "#{app(:url)}/posts/#{post[:path]}"
          %guid
            = "#{app(:url)}/posts/#{post[:path]}"
          %pubDate
            = h post[:date]
          %description
            = h post[:description]